$container-width: 1240px;
$green-text-color: #202B21;
$gray-text-color: #2C2C2C;
$grass-green-color: #2A592E;
$base-bg-color: #B6D5B9;
$footer-bg-color: #648F64;
$btn-green-color: #456F49;
$link-light-green-color: #519057;

